<!-- about -->
<div class="about">
		<div class="container">
		   <div class="col-md-6 agileits_about_grid_left">
		   </div>
		   <div class="col-md-6 agileits_about_grid_right">
			  <h3 class="agileits-title">about <span class="w3lshr-line"> </span></h3>
			  <h4>Pellentesque habitant morbi tristique senectus</h4>
			  <p> In non dui auctor sapien accumsan malesuada. Donec nibh eros, 
				 placerat facilisis ultricies et, sagittis vitae metus. Integer aliquam faucibus sapien, 
				 ultricies posuere nisl euismod ut. Nulla eget mauris orci. Duis dictum, justo a sodales porta, 
				 justo dui dapibus purus, mattis vehicula dui nibh eu felis.
			  </p>
		   </div>
		   <div class="clearfix"> </div>
		</div>
	 </div>
	 <div class="w3ls_about_bottom">
		<div class="container">
		   <h5 class="section-title h1">WE OFFER YOU</h5>
		   <div class="row" ng-controller="dashboardController">
			  <!-- Car Manufacturer -->
			  <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="manufacturer in manufacturers_list">
				 <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
					<div class="mainflip">
					   <div class="frontside">
						  <div class="card">
							 <div class="card-body text-center">
								<p><img class=" img-fluid" src="{{manufacturer.manufacturer_picture}}" alt="card image"></p>
								<h4 style="margin-top: 20px;" class="card-title">{{manufacturer.manufacturer_name}}</h4>
								<p class="card-text">{{manufacturer.manufacturer_frontTxt}}</p>
							 </div>
						  </div>
					   </div>
					   <div class="backside">
						  <div class="card">
							 <div class="card-body text-center mt-4">
								<h4 class="card-title">{{manufacturer.manufacturer_name}}</h4>
								<p class="card-text">{{manufacturer.manufacturer_backTxt}}</p>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
			  </div>
			  <!-- ./Car Manufacturer -->
		   </div>
		</div>
		<!-- Manufacturers -->
	 </div>
	 </div>
	 <!-- //about -->