	<!-- about -->
	<div id="about" class="about">
		<div class="container">
			<div class="col-md-6 agileits_about_grid_left">
				
			</div> 
			<img src="../assets/images/4.png" alt=" " class="img-responsive about-w3img" />
			<div class="col-md-6 agileits_about_grid_right">
				<h3 class="agileits-title">about <span class="w3lshr-line"> </span></h3>
				<h4>Pellentesque habitant morbi tristique senectus</h4>
				<p> In non dui auctor sapien accumsan malesuada. Donec nibh eros, 
					placerat facilisis ultricies et, sagittis vitae metus. Integer aliquam faucibus sapien, 
					ultricies posuere nisl euismod ut. Nulla eget mauris orci. Duis dictum, justo a sodales porta, 
					justo dui dapibus purus, mattis vehicula dui nibh eu felis.</p>
			</div>
			<div class="clearfix"> </div>
		</div> 
	</div>
	<div class="w3ls_about_bottom">
		<div class="container"> 
			<div class="w3_about_bottom_grid"> 
				<h4><span>Integer aliquam</span> Donec nibh eros, placerat et dictum</h4>
				<a href="#myModal" class="wthree-btn btn-6"  data-toggle="modal">Read More<span></span></a> 
			</div>
		</div>
	</div>
	<!-- //about --> 