<div class="dashboard">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Year</th>
                        <th>Engine</th>
                        <th>Power</th>
                        <th>Transmission</th>
                        <th>Gears</th>
                        <th>Doors</th>
                        <th>Picture</th>
                        <th>Minimum Years</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input class="form-control" placeholder="Name" ng-model="car.car_name" />
                    </td>
                    <td>
                      <input class="form-control" placeholder="Price" ng-model="car.car_price" />
                    </td>
                    <td>
                      <input class="form-control" placeholder="Year" ng-model="car.car_year" />
                    </td>
                    <td>
                        <input class="form-control" placeholder="Engine" ng-model="car.car_engine" />
                    </td>
                    <td>
                        <input class="form-control" placeholder="Power" ng-model="car.car_power" />
                    </td>
                    <td>
                        <input class="form-control" placeholder="Transmission" ng-model="car.car_transmission" />
                    </td>
                    <td>
                        <input class="form-control" placeholder="Gears" ng-model="car.car_gears" />
                    </td>
                    <td>
                        <input class="form-control" placeholder="Doors" ng-model="car.car_doors" />
                    </td>
                    <td>
                        <input class="form-control" placeholder="Picture" ng-model="car.car_picture" />
                    </td>
                    <td>
                        <input class="form-control" placeholder="MinimumYears" ng-model="car.car_min_years" />
                    </td>
                    <td>
                      <div class="btn-group">
                      <button class="btn btn-primary" ng-click="add_car()">Add</button>
                      <button class="btn btn-success" ng-click="update_car()">Update</button>
                        </div>
                    </td>
                  </tr>
                  <tr ng-controller="carsController" ng-repeat="car in cars_list">
                    <td>{{car.car_name}}</td>
                    <td>{{car.car_price}}</td>
                    <td>{{car.car_year}}</td>
                    <td>{{car.car_engine}}</td>
                    <td>{{car.car_power}}</td>
                    <td>{{car.car_transmission}}</td>
                    <td>{{car.car_gears}}</td>
                    <td>{{car.car_doors}}</td>
                    <td><img style="height: 50px; width: 110px;" src="{{car.car_picture}}"></td>
                    <td>{{car.car_min_years}}</td>
                    <td>
                      <div class="btn-group">
                        <button class="btn btn-warning" ng-click="edit_car(car)">Edit</button>
                        <button class="btn btn-danger" ng-click="delete_contact(contact._id)">Delete</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>