	<!-- features -->
	<div id="features" class="features">
		<div class="container"> 
			<div class="w3layouts_skills_grids w3layouts-features-agileinfo">
				<div class="col-md-6 col-sm-9 w3features-right">
					<div id="register" class="login-form agileits-right"> 
						<div class="agile-row">
							<h5>Register Form</h5> 
							<div class="login-agileits-top"> 	
								<form action="#" method="post"> 
									<p>User Name </p>
									<input type="text" class="name" name="user name" required=""/>
									<p>Email</p>
									<input type="email" class="email" name="email" required=""/>
									<p>Password</p>
									<input type="password" class="password" name="password" required=""/>   
									<input type="submit" value="Register">
								</form> 	
							</div>  
						</div>  
					</div>  
				</div>
				<div class="col-md-6 w3features-left">
					<h3 class="agileits-title">Features<span class="w3lshr-line"> </span></h3>
					<div class="w3features-grids">
						<div class="w3features-left-gridl">
							<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
								<i class="hi-icon fa-cubes"> </i>
							</div>
						</div>
						<div class="w3features-left-gridr">
							<h4>lacinia vehicula ac aliquam</h4>
							<p>Maecenas bibendum nisi purus, in ullamcorper nisl aliquam id.</p>
						</div>
						<div class="clearfix"> </div>
					</div> 
					<div class="w3features-grids">
						<div class="w3features-left-gridl">
							<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
								<i class="hi-icon fa-globe"> </i>
							</div>
						</div>
						<div class="w3features-left-gridr">
							<h4>tincidunt urna egestas non</h4>
							<p>Maecenas bibendum nisi purus, in ullamcorper nisl aliquam id.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="w3features-grids">
						<div class="w3features-left-gridl">
							<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
								<i class="hi-icon fa-gear"> </i>
							</div>
						</div>
						<div class="w3features-left-gridr">
							<h4>nullam elementum blandit dui</h4>
							<p>Maecenas bibendum nisi purus, in ullamcorper nisl aliquam id.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="w3features-grids">
						<div class="w3features-left-gridl">
							<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
								<i class="hi-icon fa-hotel"> </i>
							</div>
						</div>
						<div class="w3features-left-gridr">
							<h4>ullamcorper nisl aliquam</h4>
							<p>Maecenas bibendum nisi purus, in ullamcorper nisl aliquam id.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div> 
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //features -->