<div class="order">
        <div style="font-size: 25px; padding:18px;">
           <div class="row">
              <div class="col-md-auto align-self-center">
                 <img style="width:600px" src="https://static-ms-cc.porscheinformatik.com/media/ba/MEDIA/V/MC/3H745XAA/frontLG.jpg?F=6T6T&P=OH&M=PXX@PJW@W17@WLH">
              </div>
              <div class="col">
                 <div class="row">
                    <div class="col-lg-6">
                       Car for Rent:
                       <p>{{car_name}}</p>
                    </div>
                    <div class="col-lg-6">
                       Car Price:
                       <p>{{car_price}} KM </p>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-lg-6">
                       Pickup Location:
                       <p>{{pickup_location}}</p>
                    </div>
                    <div class="col-lg-6">
                       Return Location:
                       <p>{{return_location}}</p>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-lg-6">
                       Pickup Time:
                       <p>{{pickup_time}}</p>
                    </div>
                    <div class="col-lg-6">
                       Return Time:
                       <p>{{return_time}}</p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>