	<!-- services -->
	<div class="services jarallax">
		<div class="container"> 
			<div class="w3ls_banner_bottom_grids">
				<ul class="cbp-ig-grid">
					<li>
						<div class="w3_grid_effect">
							<span class="cbp-ig-icon w3_road"></span>
							<h4 class="cbp-ig-title">ipsum imperdiet</h4>
							<span class="cbp-ig-category">Car Trade</span>
						</div>
					</li>
					<li>
						<div class="w3_grid_effect">
							<span class="cbp-ig-icon w3_cube"></span>
							<h4 class="cbp-ig-title">suscipit tortor</h4>
							<span class="cbp-ig-category">Car Trade</span>
						</div>
					</li>
					<li>
						<div class="w3_grid_effect">
							<span class="cbp-ig-icon w3_users"></span>
							<h4 class="cbp-ig-title">Vestibu magna</h4>
							<span class="cbp-ig-category">Car Trade</span>
						</div>
					</li>
					<li>
						<div class="w3_grid_effect">
							<span class="cbp-ig-icon w3_ticket"></span>
							<h4 class="cbp-ig-title">convall turpis</h4>
							<span class="cbp-ig-category">Car Trade</span>
						</div>
					</li>
				</ul>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //services -->