<div class="wrapper">
        <!-- header -->
        <div class="top-bar">
            <div class="container">
                <div class="center">
                    <div class="moto">Leading rent a car in bosnia</div>
                    <div class="center-top">
                        <span class="top-bar-txt">
                            <ul>
                                <li>
                                    <span>
                                        <i class="fa fa-map-marker"></i>
                                        Address: Nikole Sopa 9, Stup
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa fa-phone"></i>
                                        Telephone: +387 62-116/767
                                    </span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    Email: m.hadzimehanovic@gmail.com
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-w3layouts"> 
            <!-- Navigation -->
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <!-- Brand -->
                    <a href="#!home"><img class="logo" src="assets/images/logo.png"></a> 
                  
                    <!-- Toggler/collapsibe Button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <!-- Navbar links -->
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                      <ul class="navbar-nav ml-auto">
                        <li><a style="color:#FFFFFF" ng-class="getClass('/home')" href="#!home" ng-click="menuItemClicked()" data-hover="Home">Home</a></li> 
                        <li><a style="color:#FFFFFF" ng-class="getClass('/about')" href="#!about" ng-click="menuItemClicked()" data-hover="About">About</a></li>
                        <li><a style="color:#FFFFFF" ng-class="getClass('/features')" href="#!features" ng-click="menuItemClicked()" data-hover="Features">Features</a></li>
                        <li><a style="color:#FFFFFF" ng-class="getClass('/gallery')" href="#!gallery" ng-click="menuItemClicked()" data-hover="Gallery">Gallery</a></li>
                        <li><a style="color:#FFFFFF" ng-class="getClass('/cars')" href="#!cars" ng-click="menuItemClicked()" data-hover="Cars">Cars</a></li>
                        <li ng-if="!check_login()"><a style="color:#FFFFFF" ng-class="getClass('/login')" href="#!login" ng-click="menuItemClicked()" data-hover="Login">Login</a></li>
                        <li ng-if="!check_login()"><a style="color:#FFFFFF" ng-class="getClass('/register')" href="#!register" ng-click="menuItemClicked()" data-hover="Register">Register</a></li>
                        <li ng-if="check_login()"><a style="color:#FFFFFF" href="#" ng-click="logout()" data-hover="Logout">Logout</a></li>
                      </ul>
                    </div> 
                  </nav>
        </div>	
        <!-- //header -->  

    <div class="main-panel">
        <div class="container-fluid">
            <div ng-view></div>
        </div>
    </div>

    <!--Footer-->
<footer class="page-footer font-small indigo pt-0 ">

        <!--Footer Links-->
        <div class="container">
    
            <!--First row-->
            <div class="row">
    
                <!--First column-->
                <div class="col-md-12 py-5">
    
                    <div class="mb-5 flex-center">
    
                        <!--Facebook-->
                        <a  class="fb-ic">
                            <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Twitter-->
                        <a class="tw-ic">
                            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Google +-->
                        <a class="gplus-ic">
                            <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Linkedin-->
                        <a class="li-ic">
                            <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Pinterest-->
                        <a class="pin-ic">
                            <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                        </a>
                    </div>
                </div>
                <!--/First column-->
            </div>
            <!--/First row-->
        </div>
        <!--/Footer Links-->
    
        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            © 2018 Copyright:
            <a href="#"> JOMURENTAL </a>
        </div>
        <!--/Copyright-->
    
    </footer>
    <!--/Footer-->
</div>