<div class="wrapper">
    <div id="home" class="w3ls-banner">
			<!-- header -->
			<div class="header-w3layouts"> 
				<!-- Navigation -->
				<nav class="navbar navbar-default navbar-fixed-top">
					<div class="container">
						<div class="navbar-header page-scroll">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
								<span class="sr-only">Car Trade</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<h1 class="w3lslogo"><a href="index.html">CT <span>Car Trade</span></a></h1>
						</div> 
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-ex1-collapse">
							<ul class="nav navbar-nav navbar-right cl-effect-15">
								<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                                <li><a ng-class="getClass('/home')" href="#!home" ng-click="menuItemClicked()" data-hover="Home">Home</a></li> 
                                <li><a ng-class="getClass('/about')" href="#!about" ng-click="menuItemClicked()" data-hover="About">About</a></li>
                                <li><a ng-class="getClass('/features')" href="#!features" ng-click="menuItemClicked()" data-hover="Features">Features</a></li>
                                <li><a ng-class="getClass('/gallery')" href="#!gallery" ng-click="menuItemClicked()" data-hover="Gallery">Gallery</a></li>
                                <li><a ng-class="getClass('/stats')" href="#!stats" ng-click="menuItemClicked()" data-hover="Stats">Stats</a></li>
                                <li><a ng-class="getClass('/blog')" href="#!blog" ng-click="menuItemClicked()" data-hover="Blog">Blog</a></li>
                                <li><a ng-class="getClass('/contact')" href="#!contact" ng-click="menuItemClicked()" data-hover="Contact">Contact</a></li>
							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</div>
					<!-- /.container -->
				</nav>  
			</div>	
			<!-- //header -->
			<!-- banner-text -->
			<div class="banner-text">  
				<div class="container">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="banner-w3lstext">  
									<h2>Trendy Car Sale</h2>
									<p>Mauris ex nulla aliquam ornare facilisis nec convallis pulvinar a non nunc non leo sollicitudin, Lorem ipsum dolor sit amet.</p>
								</div>
							</li>
							<li>
								<div class="banner-w3lstext">  
									<h3>Cars for Sale </h3>
									<p>Mauris ex nulla aliquam ornare facilisis nec convallis pulvinar a non nunc non leo sollicitudin, Lorem ipsum dolor sit amet.</p>
								</div>
							</li>
							<li>
								<div class="banner-w3lstext">  
									<h3>Sapien Delects</h3>
									<p>Mauris ex nulla aliquam ornare facilisis nec convallis pulvinar a non nunc non leo sollicitudin, Lorem ipsum dolor sit amet.</p>
								</div>
							</li>
						</ul> 
					</div> 	  
					<a href="#register" class="wthree-btn btn-6 scroll">Register Now <span></span></a>   
				</div> 
			</div> 
			<!-- //banner-text -->   
    </div>

    <div class="main-panel">
        <div class="content">
            <div ng-view></div>
        </div>
    </div>
</div>